apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-openldap-seed
  labels:
    app.kubernetes.io/name: openldap
    app.kubernetes.io/instance: {{ .Release.Name }}
data:
  seed-users.ldif: |
    # People OU
    dn: ou=people,{{ .Values.baseDn }}
    objectClass: organizationalUnit
    ou: people

    {{- range .Values.seedUsers }}
    # User: {{ .cn }}
    dn: cn={{ .cn }},ou=people,{{ $.Values.baseDn }}
    objectClass: inetOrgPerson
    cn: {{ .cn }}
    sn: {{ .sn }}
    uid: {{ .uid }}
    userPassword: {{ .password }}
    mail: {{ .uid }}@{{ $.Values.domain }}

    {{- end }}
