apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-pgadmin4
  labels:
    app.kubernetes.io/name: pgadmin4
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  type: {{ .Values.service.type }}
  ports:
    {{- if .Values.tls.enabled }}
    - port: {{ .Values.service.port }}
      targetPort: https
      protocol: TCP
      name: https
    {{- else }}
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
    {{- end }}
  selector:
    app.kubernetes.io/name: pgadmin4
    app.kubernetes.io/instance: {{ .Release.Name }}
